body {
   margin: 0px;
    padding: 40px;
     background-color: #1F2937;
    text-align: left;
}
#appContainer {
    border: 2px solid white; /* The white border */
    padding: 40px;           /* Space between content and the border */
    max-width: 450px;        /* Limits the width so it looks like an app */
    margin: 40px auto;       /* Centers the whole app on the page */
    background-color: #1F2937; /* Matches the Scrimba theme */
    border-radius: 10px;     /* Optional: rounds the corners of your app */
    
    

}
h1 {
    margin-bottom: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    text-align: left;
}
#idh1 {
    color: white;
    font-size: 30px;
    margin-bottom: 20px;
}
#randpwText {
    color:  #10B981;;

}
#ptext {
    color: #FFFFFF;
    margin-bottom: 30px;
    font-size: 18px;
    text-align: left;
}
#pwlengthtext{
    color: #FFFFFF;
    font-size: 16px;
    margin-right: 10px;
   
}
.settings{
    margin-top: 20px;
    text-align: left;}
label {
    color: #FFFFFF;
    font-size: 16px;
    margin-right: 10px;
    
}
#pwlength {
    width: 50px;
    height: 25px;
    border-radius: 5px;
    border: none;
    text-align: center;
    margin-left: 10px;
}
#genPassel {
    display: block; /* Makes the button take up its own line */
    padding: 10px 20px;
    
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background: #10B981;
    color: white;
   text-align: left;
    margin-bottom: 20px;
    margin-top: 50px;
    border-radius: 6px;
}
hr {
    border: 0;
    height: 1px;
    background: #374151;
    margin-top: 50px;
    margin-bottom: 20px;
}
#btncontainer {
    display: flex;
    justify-content: start;
    gap: 20px;
    margin-top: 60px;
}


#rpw1, #rpw2 {

    background: #273549;
    border-radius: 10px;
    height: 30px;
    margin: 10px 0;
    width: 170px;
    text-align: center;
    color: #55F991;
    font-weight: bolder;
    padding-top: 10px;
}
#copybtn {
    
    font-size: 16px;
    border-radius: 5px;
    border: none;
     background: #10B981;
    color: white;
    cursor: pointer;
    border-radius: 6px;
}
